<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Skills</h1>
        <ul>
          <% skills.forEach(function(s, idx) { %>
            <li>
              <form action="/skills/<%= idx %>?_method=DELETE"
                id="delete-form" method="POST">
                <button type="submit">X</button>
              </form>
              <a href="/skills/<%= idx %>"><%= s.skill %></a>
                - 
            </li>
          <% }); %>
        </ul> 
        <a href="/skills/new">Add New Skill</a>
</body>
</html>